---
import Footer from "./Footer.astro";
import SidebarNavbar from "./SidebarNavbar.astro";
import SidebarTags from "./SidebarTags.astro";
import Banner from "./header/Banner.astro";

const { showSidebar = true } = Astro.props;
---

<div>
  <Banner />
  <div class="md:flex">
    {showSidebar && <SidebarTags />}
    <div class="w-full min-h-dvh">
      <SidebarNavbar />
      <slot />
    </div>
  </div>
</div>
<Footer />
