---
import configData from "@util/themeConfig";
---

<span
  class="absolute text-sm ml-4 font-medium py-0.5 group-hover:border-primary-500 -top-3 border border-gray-300 rounded-full bg-white px-3.5 text-gray-600 dark:bg-gray-800 dark:border-gray-500 dark:text-white"
>
  {configData.directoryUI.featured.labelForCard}
</span>
