---
import "@fontsource/gabarito";
import BaseLayout from "./BaseLayout.astro";
import AppProse from "../components/app/Prose.astro";
const { frontmatter, slug } = Astro.props;
import themeConfig from "@util/themeConfig";
import AppShell from "@components/app/AppShell.astro";
const siteTitle = themeConfig.general.title;
const title = frontmatter?.title || siteTitle;
const description = frontmatter?.description;
---

<BaseLayout title={title} description={description} slug={slug}>
  <AppShell>
    <div class="max-w-2xl w-full mx-auto py-20">
      <AppProse>
        <slot />
      </AppProse>
    </div>
  </AppShell>
</BaseLayout>
